body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

nav {
    background-color: #96afc8;
    color: black;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.brand-name a {
    font-family: "Papyrus", sans-serif;
    font-size: 24px;
    font-weight: bold;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icons img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.search-box input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 500px;
}

.mennu-header {
    text-align: center;
    padding: 15px 0px;
    text-decoration: underline;
}

.footer-sections a {
    color: #fff;
}

ul li a {
    color: #fff;
}

.cartcount {
    background: red;
    padding: 0px 8px;
    border-radius: 15px;
    color: #fff;
    position: absolute;
    bottom: -5px;
    left: -5px;
    box-shadow: 1px 1px 5px;
    font-size: 12px;
    font-weight: bold;
}

.cartcount-container {
    position: relative;
}